/* CSS for Lee T. Doyle */

body {
    margin-left: 13%;
    width: 960px;
    font-family: "Didact Gothic", sans-serif; 
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 40px;
}

.navigation {
    width: 960px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

