@import "bootstrap.min.css";

/*
color scheme
#d11717 - red
#17d1d1 - blue-green
#74d117 - green
*/

/* General */

body {
  color: #bbc1c7;
  background-color: #d11717;
  font-family: 'Didact Gothic', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

div {
  display: block;
}

h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 47px;
  font-weight: 700;
  color: #2b323a;
  margin: 0 0 10px 0;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}
h3 {
  font-size: 23px;
  color: #2b323a;
  line-height: 1.5;
  margin: 20px 0 0 0;
}
h4 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: 2px solid #41474e;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

div i {
    margin-right: 7px;
}

p {
  font-size: 18px;
}

.title {
    background-color: #e5e6e6;
}

@media only screen and (min-width: 1200px) {
  .title {
    min-height: 492px;
  }
}
.title .left {
  padding-top: 165px;
  padding-bottom: 125px;
}
@media only screen and (max-width: 767px) {
  .title .left {
    padding-top: 30px;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title .left {
    padding-top: 80px;
    padding-bottom: 0;
  }
}
.title .right {
  padding-top: 50px;
}
@media only screen and (max-width: 767px) {
  .title h2 {
    font-size: 16px;
  }
}
.title h2 em {
  padding-left: 5px;
  padding-right: 5px;
}
@media only screen and (max-width: 767px) {
  .title h2 em {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
  }
}

img {
  max-width: 100%;
}

.img-circle {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.offset {
  padding-left: 5%;
  padding-right: 5%;
}

footer ul,
footer ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  font-weight: 600;
  color: white;
}
a:hover,
a:focus,
a:active {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

footer {
  padding-top: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}

footer p {
  margin-bottom: 15px;
}