@import "bootstrap.min.css";

/*
color scheme
#d11717 - red
#17d1d1 - blue-green
#74d117 - green
*/

/* General */

body {
  color: #bbc1c7;
  background-color: #d11717;
  font-family: 'Didact Gothic', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

div {
  display: block;
}

h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 47px;
  font-weight: 700;
  color: #2b323a;
  margin: 0 0 10px 0;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}
h3 {
  font-size: 23px;
  color: #2b323a;
  line-height: 1.5;
  margin: 20px 0 0 0;
}
h4 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: 2px solid #41474e;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

div i {
    margin-right: 7px;
}

p {
  font-size: 18px;
}

a,
a:visited {
  text-decoration: none;
  font-weight: 600;
  color: white;
}
a:hover,
a:focus,
a:active {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

/* Title */

.title {
    background-color: #e5e6e6;
}

@media only screen and (min-width: 1200px) {
  .title {
    min-height: 492px;
  }
}
.title .left {
  padding-top: 165px;
  padding-bottom: 125px;
}
@media only screen and (max-width: 767px) {
  .title .left {
    padding-top: 30px;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title .left {
    padding-top: 80px;
    padding-bottom: 0;
  }
}
.title .right {
  padding-top: 50px;
}
@media only screen and (max-width: 767px) {
  .title h2 {
    font-size: 16px;
  }
}
.title h2 em {
  padding-left: 5px;
  padding-right: 5px;
}
@media only screen and (max-width: 767px) {
  .title h2 em {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
  }
}

img {
  max-width: 100%;
}

/* Footer */

footer {
  padding-top: 75px;
  padding-bottom: 0;
}
@media only screen and (max-width: 767px) {
  footer {
    padding-top: 30px;
    padding-bottom: 0;
  }
}
footer ul,
footer ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .row > div {
  padding-bottom: 75px;
}
@media only screen and (max-width: 767px) {
  footer .row > div {
    padding-bottom: 50px;
  }
}
footer .follow-btn {
  border: 2px solid #41474e;
  padding: 5px 15px 8px 15px;
  margin-top: 10px;
  display: inline-block;
}
footer .follow-btn:hover {
  background-color: #41474e;
}
footer p {
  margin-bottom: 15px;
}